/*INICIO*/

.foto-inicio{
    padding: 0%;
    border: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: 0 auto;
    height: 100%;
    width: 95%;
    border: map-get($border , border );
    border-radius: map-get($border , border-radius );
    background-color: $color-sec;
    
}

.div-deinicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: map-get($border , border );
    border-radius: map-get($border , border-radius );
    background-color: black;
}

.de-inicio{
    display: flex;
    flex-wrap: wrap;
    height: min-content;
    width: min-content;
    padding: 50px;  
    border: 12px solid black;
    background-color: $color-principal; 
}

.videoytexto{
    display: flex;
    justify-content: space-between;

}

.textodevideo{
    display: flex;
    background-color: $color-principal;
    width: 50%;
    float: right;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    border: 5px solid $color-sec;
}


/*FIN DE INICIO*/


/*BOOTSTRAP DE INICIO*/

.slide{
    margin-top: 10px;
    margin-bottom: 15px;
    border: map-get($border , border );
    border-radius: map-get($border , border-radius );
    background-color: $color-sec;
    & img {
        height: 65vh;
        object-fit: cover;
        justify-content: center;
    }


}


/*FIN BOOSTRAP INICIO*/

@media (max-width: 768px) {
    .foto-inicio{
        width: fit-content;
    }
    .videoytexto{
        display: grid;
        margin: 0 auto;
        width: 100%;
    }
    .textodevideo{
        width: 100%;
    }
    .div-deinicio{
        width: 100%;
    }
}