@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Roboto+Serif:wght@200&family=Source+Serif+4:wght@200&display=swap");
body {
  color: #313838;
  font-family: 'Roboto Serif', sans-serif;
  font-size: 12px;
  background-color: #313838;
  background-image: url(images/wallpaper-ferrari.jpg);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.imagen-uno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

@media (max-width: 768px) {
  .imagen-uno {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 900px;
    height: 220px;
  }
}

.titulo-pcipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

label {
  color: yellow;
}

a {
  color: yellow !important;
}

a {
  text-decoration: none;
}

p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: yellow;
  font-size: larger;
  font-style: italic;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  font-size: 16px;
  background-color: maroon;
  border: 2px solid none;
}

/*INICIO*/
.foto-inicio {
  padding: 0%;
  border: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  height: 100%;
  width: 95%;
  border: 25px solid yellow;
  border-radius: 20px;
  background-color: yellow;
}

@media (max-width: 768px) {
  .foto-inicio .foto-inicio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.div-deinicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 25px solid yellow;
  border-radius: 20px;
  background-color: black;
}

.de-inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 50px;
  border: 12px solid black;
  background-color: maroon;
}

/*FIN DE INICIO*/
/*BOOTSTRAP DE INICIO*/
.slide {
  margin-top: 10px;
  margin-bottom: 15px;
  border: 25px solid yellow;
  border-radius: 20px;
  background-color: yellow;
}

.slide img {
  height: 65vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.textodevideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: maroon;
  width: 50%;
  float: right;
  padding: 5%;
  margin-top: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  border: 5px solid yellow;
}

/*FIN BOOSTRAP INICIO*/
/*GALERIA*/
.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.de-galeria {
  width: 350px;
  height: 400px;
  padding: 5px;
  border: 20px solid black;
  background-color: yellow;
  border-radius: 30px;
  margin-bottom: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-width: thick;
}

.de-galeria:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-transition: 2s ease-out;
  transition: 2s ease-out;
}

/*FIN DE GALERIA*/
/*UBICACION*/
.ubicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  float: right;
  margin-right: 200px;
  width: 500px;
  border: 20px solid black;
  border-radius: 15px;
  background-color: black;
}

.foto-fabrica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  height: 500px;
  width: 1000px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 5px;
  border: 5px solid black;
  background-color: yellow;
  border-radius: 15px;
}

.ferrari-logo-circle {
  margin-left: 200px;
  margin-top: 60px;
  width: 350px;
  height: 400px;
  padding: 5px;
  border: 20px solid black;
  background-color: yellow;
  border-radius: 400px;
  margin-bottom: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-width: thick;
}

.ferrari-logo-circle:hover {
  border-radius: 20px;
}

/*FIN DE UBICACION*/
/*INFO*/
.de-info {
  display: -ms-grid;
  display: grid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  float: left;
  height: 500px;
  margin: 0 auto;
  padding: 12px;
  border: 12px solid black;
  background-color: whitesmoke;
  border-radius: 12px;
  -o-object-fit: contain;
     object-fit: contain;
}

.info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: whitesmoke;
  margin: 20px;
  margin-top: 60px;
  border: black solid;
  border-radius: 10px;
  padding: 5px;
}

.info-content p {
  color: black;
}

.info-content-dos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: maroon;
  margin-bottom: 20px;
  width: 50%;
  border: solid yellow;
  border-radius: 10px;
  padding: 5px;
  margin-left: 20px;
}

.contenedor-historico {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  background-color: whitesmoke;
  border: 12px solid black;
  border-radius: 12px;
}

.ha {
  height: 400px;
  padding: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hb {
  height: 400px;
  padding: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hc {
  height: 400px;
  padding: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hd {
  -o-object-fit: cover;
     object-fit: cover;
  grid-row: 2 span;
}

.he {
  height: 400px;
  padding: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*FIN DE INFO*/
/*NAV*/
ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: revert;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: maroon;
  color: tomato;
  border: solid black;
  border-radius: 10px;
  height: 35px;
}

@media (max-width: 768px) {
  ul ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*FIN NAV*/
/*SECCION CONTACTO*/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  width: auto;
  padding: 12px;
  border: 12px solid black;
  background-color: yellow;
  border-radius: 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 768px) {
  .contact .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.contact-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: auto;
  max-width: 420px;
  max-height: 900px;
  border-radius: 5px;
  margin: 5px;
}

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 30px;
  border: 12px solid #313838;
  background-color: #313838;
  border-radius: 12px;
}

#form:hover {
  border-color: yellow;
  background-color: yellow;
}

#form input::-webkit-input-placeholder {
  color: gray;
}

#form input:-ms-input-placeholder {
  color: gray;
}

#form input::-ms-input-placeholder {
  color: gray;
}

#form input::placeholder {
  color: gray;
}

#form .label-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  font-size: larger;
  color: black;
  border: 0;
  background-color: yellow;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#form .label-color:hover {
  background-color: yellow;
}

/*FIN SECCION CONTACTO*/
/*BOOSTRAP CONTACT*/
.contacting {
  border: 20px solid yellow;
  background-color: maroon;
  -o-object-fit: cover;
     object-fit: cover;
}

.formcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  background-color: maroon;
  border: 20px solid black;
  border-radius: 30px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 450px;
  margin: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card:hover {
  background-color: yellow;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-text {
  margin: 0px;
  color: black;
  padding: 5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*FIN BOOSTRAP CONTACT*/
/*# sourceMappingURL=style.css.map */