
// VARIABLES
$color-principal : maroon; 
$color-sec : yellow; 
$border:(
    border: 25px solid $color-sec,
    border-radius: 20px,
);

@mixin fotos-info {
    height: 400px;
    padding: 5px;  
    object-fit: cover;
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Roboto+Serif:wght@200&family=Source+Serif+4:wght@200&display=swap');


body{
        color:rgb(49, 56, 56);
        font-family: 'Roboto Serif', sans-serif;
        font-size: 12px;
        background-color: rgb(49, 56, 56);
        background-image: url(images/wallpaper-ferrari.jpg);
        flex-wrap: wrap;
    
    
}


img{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}



.imagen-uno{
    display: flex;
    flex-wrap: wrap;
    width: min-content;
    height: min-content;
}


.titulo-pcipal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label{
    color: $color-sec ;
}


a{
    color: $color-sec !important;
} 


a{
    text-decoration: none;
}

p{
    display: flex;
    flex-wrap: wrap;
    color: $color-sec;
    font-size: larger;
    font-style: italic;
}


li{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    font-size: 16px;
    background-color: $color-principal;
    border: 2px solid none;
}


@media (max-width: 768px) {
    .imagen-uno{
        width: 100%;
    }
    a{
        font-size: large;
    }
}



@import "./PARTIALS/inicio";
@import "./PARTIALS/galeria";
@import "./PARTIALS/ubicacion";
@import "./PARTIALS/info";
@import "./PARTIALS/nav"; 
@import "./PARTIALS/contacto";



